.ArticleInfo
  cursor: pointer
  width: 100%
  height: 4.5em
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  padding: 0 2.5em
  gap: 5em
  border-bottom: $row-border

  &:last-child
    border-bottom: none

  &__title
    color: $title_font_color
    font-size: $title_font_size

  &__author
    color: $author_font_color

  &__date
    margin-left: auto
    color: $time_font_color

  &__icon
    visibility: hidden
    background: transparent
    cursor: pointer
    border: none
    &:hover
      svg
        color: #bb2d3b
  &:hover
    background-color: $row-bg-color--hover
    .ArticleInfo__icon
      visibility: visible
